# ___________
# ADVERTENCIA: Al referenciar variables, nunca usar puntos para separar de trabajos: Ex.: &common.zip -> &common_zip
# -----------
# MOTIVO: Javascript lo soporta, Python no. Trabajamos mas en compatibilidad que en legbilidad
# ------
name_version: "v1"

host: "localhost"

ssl:
  cert: "../../../certs/peluqueriamael.com_cert/peluqueriamael.com.crt"
  key: "../../../certs/peluqueriamael.com_key.txt"

common:
  gzip: &common_gzip
    enabled: true
    min_size: 1000
  cors: &common_cors
    enabled: true
    origins:
      - "*"
    methods:
      - "*"
    headers:
      - "*"

app:
  API:
    net:
      protocol: "http"
      port: 8000
    ssl: true
    cache: true
    gzip: *common_gzip
    cors:
      enabled: true
      origins:
        - "*"
      methods:
        - "GET"
        - "POST"
      headers:
        - "*"

  APIWS:
    net:
      protocol: "ws"
      port: 8100
    ssl: false

  CryptoAPI:
    net:
      protocol: "http"
      port: 8200
    ssl: true
    cache: true
    gzip: *common_gzip
    cors:
      enabled: true
      # Se quito el apartado de origins, ya que solo hará úso de la API Estática
      methods:
        - "*"
      headers:
        - "*"
    graphic_card: "gt-710"

  StatusAPI:
    net:
      protocol: "http"
      port: 8300
    ssl: true
    cache: true
    cors: *common_cors

web:
  API:
    net:
      protocol: "http"
      port: 8000
    ssl: true
    cache: true
    gzip: *common_gzip
    cors: *common_cors

  StatusAPI:
    net:
      protocol: "https"
      port: 8300
    ssl: true
    cache: true
    gzip: *common_gzip
    cors:
      enabled: true
      origins:
        - "*"
      methods:
        - "GET"
      headers:
        - "*"

db:
  general_name_db: &general_name_db "PeluqueriaMael"

  persistant:
    rethinkdb:
      host: "localhost"
      port:
        intercluster: 29015
        client: 28015
      db: *general_name_db
      tables:
        reservas: booking_card
    
    mongodb:
      host: "localhost"
      port: 27017
      db: *general_name_db
      collections:
        reservas: "Reservas"
        usuarios: "Users"
        configuracion: "Configure"
        personal: "Personal"
        administrador: "Admin"
        tipos_de_pydantic: "Types"
  
  cache:
    Redis:
      host: "localhost"