[Unit]
Description=Ejecucción del servidor
After=docker.service network.target

#Cambiar la ruat del usuario
[Service]
Type=simple
ExecStart=/home/user/startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
